<IfModule mod_rewrite.c>
RewriteEngine on
php_value short_open_tag 1
php_value date.timezone Asia/Jakarta
php_value post_max_size                   30M
php_value upload_max_filesize             30M
php_value max_execution_time 6000000

RewriteCond $1 !^(index\.php|resources|images|img|robots|images\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L,QSA]
</IfModule>