.blog .blog-menu {
    padding-bottom: 1.125em;
    border-bottom: 1px solid #eee;
    margin-bottom: 2.188em;
    text-align: center;

    span {
        font-size: 0.938em;
        transition: all 0.2s ease;

        a {
            color: #898989;
            transition: all 0.2s ease;

            &:hover {
                font-weight: 600;
                color: #2d2b2d;
                text-decoration: underline;
            }
        }
    }

    span + span {
        &::before {
            content: "/";
            padding: 0 9px 0 6px;
        }
    }
}

.blog.full-width .blog-menu {
    @extend .stretch-full-width;
    margin-bottom: 2.813em;
}
