.section-tabs {
    .nav {
        border-bottom: 1px solid #e9e9e9;
        margin: 0 0 5em;
        text-align: center;

        .nav-item {
            display: inline-block;

            .nav-link {
                font-size: 1.625em;
            	font-weight: normal;
            	color: #9b959b;
            	text-align: center;
                padding: 10px 26px;
            	padding-bottom: 0.692em;
            	position: relative;

                &:hover,&:focus {background-color: transparent;}
            }

            &.active {
                a {
                    font-weight: bold;
                    color: #2d2b2d;
                }

                a::after {
                    content: "";
                    width: 80px;
                    height: 3px;
                    left: 50%;
                    position: absolute;
                    transform: translate(-50%, -50%);
                    bottom: -2px;
                }
            }
        }
    }
}

.page-template-template-homepage-v5 {
    .section-tabs > .nav {margin: 0 0 5.2em;}
}

.page-template-template-homepage-v1 {

    .section-tabs {
        .nav {
            padding-top: 48px
        }
    }
}

.page-template-template-homepage-v2 {

    .section-tabs {
        .nav {
            padding-top: 98px
        }
    }
}

.page-template-template-homepage-v6 {

    .section-tabs {
        .nav {
            padding-top: 83px
        }
    }
}

.page-template-template-homepage-v2 .products-with-gallery-tabs,
.products-with-gallery-tabs {
    &.section-tabs {
        .nav {
            padding: 1.266em 0;
            margin: 0;
            font-size: 0.938em;

            li + li {
                &::before {
                    content: " ";
                    width: 2px;
                    height: 40px;
                    background-color: #df8392;
                    opacity: .3;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                }
            }

            .nav-item {

                .nav-link {
                    font-size: 1em;
                    color: #e0929d;
                    padding: 10px 52px .692em;

                    i {
                        display: block;
                        font-size: 2.133em;
                    }

                    &:hover {
                        color: #fff;
                        text-shadow: 0 0 .65px #fff,0 0 .65px #fff;
                    }
                }

                &.active a {
                    color: #fff;
                    text-shadow: 0 0 .65px #fff,0 0 .65px #fff;
                    font-weight: normal;

                    &::after {
                        width: 27px;
                        height: 27px;
                        left: 50%;
                        transform: rotate(45deg) translate(-50%, 0%);
                        bottom: -46%;
                        border-radius: 6px;
                    }
                }
            }
        }
    }
}
