@mixin c-select() {
	display: inline-block;
	max-width: 100%;
	padding: .375rem 1.75rem .375rem .75rem;
	padding-right: .75rem \9;
	color: $input-color;
	font-size: 0.875em;
	border: 1px solid #ebeaef;
	vertical-align: middle;
	background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAUCAMAAACzvE1FAAAADFBMVEUzMzMzMzMzMzMzMzMKAG/3AAAAA3RSTlMAf4C/aSLHAAAAPElEQVR42q3NMQ4AIAgEQTn//2cLdRKppSGzBYwzVXvznNWs8C58CiussPJj8h6NwgorrKRdTvuV9v16Afn0AYFOB7aYAAAAAElFTkSuQmCC) no-repeat right 1em center;
	background-image: none \9;
	background-size: 8px 10px;
	// Use vendor prefixes as `appearance` isn't part of the CSS spec.
	-moz-appearance: none;
	-webkit-appearance: none;

	&:focus {
		outline: none;
	}

	// Hides the default caret in IE11
	&::-ms-expand {
		opacity: 0;
	}
}
